* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul.social-menu {
    text-align: right;
    padding-right: 2em;
}

ul.social-menu li{
    display: inline-block;
}
ul.social-menu li a{
	display: inline-block;
	color: white;
	transition: all 0.5s;
	padding: 4px 9px;
}

ul.social-menu li a:hover{
	box-shadow: 1px 0px 1px white;
	transform: scale(1.03);
}

a {
    text-decoration: none;
}

.icon-info {
    margin-right: 0.5em;
}

header {
    width: 100%;
    height: 15em;
    
}

.info-menu {
    width: 100%;
    margin: 0 auto;
    padding: 0.5em;
    background-color: whitesmoke;
    color: grey;
}

.info-menu-left {
    width: 50%;
    padding-left: 2em;
}

.info-menu-right{   
    width: 47%;  
    text-align: right;
    margin-right: 2em;
    padding-right: 2em;
}

.info-menu ul li {
    display: inline-block;
    margin: 0 0.5em;
}

.logo {
    width: 30%;
    text-align: center;
}

.bar-search {
    width: 68%;
    padding-right: 5em;
    text-align: right;
}


.bar-search input#search-barre {
    border: 1px solid #8a3a1b;
    margin: 3.5em 0em 0em;
    border-width: 2px;
    padding: 10px 244px 10px 18px;
}

.bar-search select {
    border: 1px solid whitesmoke;
    margin: 0em 0em;
    border-width: 2px;
    padding: 10px 0px 10px 3px;
    background-color: #8a3a1b;
    color: white;
}

.main-info li {
    display: inline-block;
    margin-top: 1.5em;
    vertical-align: middle;
}

ul{
	padding: 0px;
	margin: 0px;
}

ul li{
	list-style: none;
}

a , a:hover{text-decoration: none;}

menu{
	margin: 0;
	padding: 0;
}

.main-menu{
	background-color: #6a2202;
    width: 100%;
    margin: 2em auto;
    position: sticky;
	z-index: 10000000;
	top: 0;
}	



section.menu {
	width: 100%;
	padding: 20px 0px;
}


ul.parent-menu{
	text-align: center;
}
ul.parent-menu > li {display: inline-block; position: relative;}
ul.parent-menu > li > a{   color: white;
	display: inline-block;
	line-height: 42px;
	padding: 0px 26px;}
	ul.parent-menu li a:hover span.line-menu{
		opacity: 1;
	}
	span.line-menu{
		display: block;
		width: 100%;
		height: 3px;
		background-color: white;
		border-radius: 8px;
		opacity: 0;
		transition: all .5s;
	}
	ul.sub-child-menu {
		position: absolute;
		background: #272727;
		box-shadow: 1px 1px 3px #353535;
		width: 200px;
		text-align: left;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.5s, opacity 1s linear;
		left: 27px;
	}
	ul.sub-child-menu li a{
		color: grey;
		display: inline-block;
		padding: 10px 6px
	}
	ul.sub-child-menu li{
		border-bottom: 1px solid grey;
	}
	ul.parent-menu > li:hover ul.sub-child-menu{
		visibility: visible;
		opacity: 1;
	}
	

	@media only screen and (max-width: 768px){
		section.menu{
			display: none;
		}
		section.main-menu {
			width: 50%;
			position: fixed;
			height: 100%;
			border-right: 1px solid black;
		}
		ul.parent-menu{
			text-align: left;
		}
		ul.parent-menu > li{
			display: block;
		}
		ul.parent-menu > li > a{
			padding: 0 11px;
		}
		
}

section.main-menu {
    left: -206px;
    transition: all .5s;
}



